<div class="sidebar">
  <div class="container-fluid">

    <div class="col-md-12 ">
      <%= image_tag "logo_transparent-2.png", id: "logo", class: "center-block" %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 years">
      <p class="slider-label">
        <span id="year-label">Year </span><span id="year-number"></span>
      </p>
      <div id="year-slider" class="center-block"></div> 
    </div>
  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 weeks">
      <p class="slider-label">
        <span id="week-label">Week of </span><span id="week-number"></span>
      </p>
      <div id="week-slider" class="center-block"></div> 
    </div>

    <div class="random">
      <button id="random-date" class="btn btn-default">Random Date</button>
    </div> 
    
    <div class="countries"></div>

    <div class="creds">
      <p >&copy; Made with <span style='color: #FF82EE'>♥</span> by <%= link_to "Cassie Tarakajian", 'https://twitter.com/hellothisiscass'%>, <%= link_to "Robyn Trovati", 'https://github.com/robyntrovati'%>, & <%= link_to "Thinh Vu", 'https://twitter.com/tintinvu'%> at The Flatiron School.</p>  
      <p>Access our data. It's <%= link_to "Open Source", 'https://github.com/catarak/saikou-api'%>.</p>
    </div>

  </div>
</div>
<div id="map"></div>
